<div class="main-pin-container">
    <div class="user-info">
        <p-avatar label="{{username[0] | titlecase}}" icon="pi pi-user" styleClass="p-mr-2" size="xlarge" shape="circle" class="avatar-tech"></p-avatar>
        <h2 style="margin-top: 10px;">{{username | titlecase}} </h2>
    </div>
    <div class="pin-input-box">
        <div class="phone-info-box">
            <h3>Please enter Mobile OTP</h3>
            <div class="p-inputgroup" style="margin-bottom: 15px;">
                <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                <input type="password" pInputText placeholder="Mobile OTP" [(ngModel)]="mobile_otp">         
            </div>
        </div>
        <div class="otp-info-box">
            <h3>Please enter the Email OTP</h3>
            <div class="p-inputgroup" style="margin-bottom: 15px;">
                <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                <input type="password" pInputText placeholder="Email OTP"  [(ngModel)]="email_otp">         
            </div>
            <button mat-raised-button color="primary" class="submitotp-btn" (click)="submitOTP()" [disabled]="!mobile_otp || !email_otp">
                <app-app-loader [loading]="loadingSendOtp">Submit OTP</app-app-loader>
            </button>
        </div>
    </div>
    <!-- <div class="resend-details" (click)="onResendOTP()"><h3 style="font-size: inherit; margin-top: 15px;">Resend OTP</h3></div> -->
    <div></div>
</div>