
<div><h2 style="padding-left: 20px;">Stocks in News</h2>
<div class="card-row">
    <div id="container">
        <div #card1 class="thetest"></div>
        <div id="infoi">
            b
        </div>
    </div>

    <div id="container">
        <div #card2></div>
        <div id="infoi">
            b
        </div>
    </div>

    <div id="container">
        <div #card3></div>
        <div id="infoi">
            b
        </div>
    </div>  
</div>

<h2 style="padding-left: 20px; margin-top: 40px;">Banking Sector</h2>
<div class="card-row">
    <div id="container">
        <div #card4 class="thetest"></div>
        <div id="infoi">
            b
        </div>
    </div>

    <div id="container">
        <div #card5></div>
        <div id="infoi">
            b
        </div>
    </div>

    <div id="container">
        <div #card6></div>
        <div id="infoi">
            b
        </div>
    </div>  
</div>
</div>