<div class="login-container">
  <mat-card class="login-card" *ngIf="displayLoginCard">
    <mat-card-subtitle>The Demo Project</mat-card-subtitle>
    <mat-card-title>Login</mat-card-title>

    <!-- <div class="form-container">
      <span class="p-float-label">
        <input id="float-input" type="text" class="p-inputtext-lg" pInputText [(ngModel)]="value1" required> 
        <label for="float-input">Email</label>
      </span>
      <span class="p-float-label" style="margin-top: 27px;">
        <input id="float-input" type="password" class="p-inputtext-lg" pInputText [(ngModel)]="value2" required> 
        <label for="float-input">Password</label>
      </span>
      
      <button mat-raised-button color="primary" class="submit-btn" (click)="loginWithSubmit()" [disabled]="!value1 || !value2 || loadingInappLogin">
        <app-app-loader [loading]="loadingInappLogin">Submit</app-app-loader>
     </button>
    </div> -->

    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
               placeholder="Ex. john@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      
      <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" [formControl]="passwordFormControl">
          <mat-error *ngIf="passwordFormControl.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
      </mat-form-field>
      <form [formGroup]="aFormGroup">
          <ngx-recaptcha2 #captchaElem
          [siteKey]="siteKey"
          [type]="type"
          formControlName="recaptcha">
          </ngx-recaptcha2> 
      </form>
      

      <button mat-raised-button color="primary" class="submit-btn" (click)="loginWithSubmit()" [disabled]="!aFormGroup.valid || emailFormControl.invalid || passwordFormControl.invalid || loadingInappLogin">
        <app-app-loader [loading]="loadingInappLogin">Submit</app-app-loader>
     </button>

    </form>

    <mat-card-actions>
      <p-divider>
        <b>OR</b>
    </p-divider>
      <button mat-stroked-button type="button" (click)="loginWithGoogle()" class="btn btn-danger g-button">
        <app-app-loader [loading]="gmailLoginLoading">
            <div class="test">
              <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" class="g-icon">
              <h3 style="margin: 0;">Login with Google</h3>
            </div>           
        </app-app-loader>        
      </button>
      <div class="sign-up-line">
        <div>
          <h3 class="main-sign-line">Not a user?</h3>
        </div>
        <div class="signup-button" (click)="signUp()">
          <h3 class="heading">Sign Up!</h3>
        </div>        
      </div>      
    </mat-card-actions>
  </mat-card>
</div>


