.login-card {
  max-width: 500px;
  width: 500px;
  height: 535px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
    .g-icon{
      padding: 10px;
    }
    border-radius: 10px;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 30px;

}
.login-container{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: url('/assets/background-login.jpg');
  background-size: cover;
}
.form-container{
  height: 210px;
  display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 10px;
    margin-top: 20px;
}

.p-inputtext.p-inputtext-lg{
  width: 99%;
}

.mat-card-title {
  margin-bottom: 0px;
}

::ng-deep .p-divider-horizontal.p-divider-left {
  justify-content: center !important;
}
.mat-card>.mat-card-actions:last-child {
  margin-bottom: 0px;
  padding-bottom: inherit;
}
.mat-card-actions{
  padding-top: 0;
}
.submit-btn{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  width: 100%;
  &:disabled{
      background-color: #c1d8ff;
    }
}
.sign-up-line{
  display: flex;
  margin-top: 10px;
  justify-content: center;
  padding-right: 5px;
  .signup-button{
    padding-left: 7px;
    cursor: pointer;
    color: #3367d6;
    .heading{
      font-weight: 500 !important;
    }
  }
}
::ng-deep .p-avatar.p-avatar-xl {
  color: rgb(156, 39, 176);
    background-color: rgba(156, 39, 176, 0.1);
}
.g-button{
  width: 97%;
  display: flex;
  justify-content: center;
}
.test{
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-top: 10px;
}

.example-full-width {
  width: 100%;
}