.user-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;

}
.otp-btn{
        margin-top: 15px;    
}
.resend-details{
    cursor: pointer;
}
.submitotp-btn{
    display: flex;
    justify-content: center;
    width: 100%;
    &:disabled{
        background-color: #c1d8ff;
      }
}
