.tickerscroller{
    position: fixed;
    width: 100%;
    z-index: 100;
    pointer-events:none;
}

.router-container{
    padding-top: 126px;
    z-index: -1;
    height: 100%;
}
.header-container {
  height: 80px;
  box-shadow: inset 0 -1px 0 0 #f4f4f4, 0 4px 16px 0 rgb(51 51 51 / 10%);

    position: fixed;
    width: 100%;
    background-color: white;
    margin-top: 46px;
    z-index: 10;

  .header-info {
    display: flex;
    justify-content: space-between;
    .sub-profile-info{
        display: flex;
        align-items: center;
        padding: 10px;
        padding-right: 40px;
    }
    div::last-of-type {
        margin-top: auto;
     }
    }
}

.logo {
  height: 77px;
  padding-top: 10px;
  padding-left: 34px;
}
::ng-deep .p-avatar.p-avatar-xl {
    width: 3rem;
    height: 3rem;
    font-size: 21px;
    color: #485a65;
}
.avatar-tech{
    padding-right: 10px;
}
.sidebar-button{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    margin-top: 20px;
    ::ng-deep .p-button.p-button-icon-only {
        width: unset;
        padding: 0.5rem 0;
    }
}
.logo-text{
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
    margin-left: 22px;
    margin-top: 16px;
    cursor: pointer;
}
