<div #tickertape class="tickerscroller"></div>
<nav class="header-container">
  <div class="header-info">
    <!-- <img src="/assets/Technostix-logo.png" class="logo"> -->
    <h2 class="logo-text" (click)="goToHome()" >IntMavens</h2>
    <div class="sub-profile-info">
        <p-avatar (click)="menu.toggle($event)" label="M" icon="pi pi-user" styleClass="p-mr-2" size="xlarge" shape="circle" class="avatar-tech"></p-avatar>
        <p style="margin: 0;font-size: medium;">Hi {{username}}</p>
    </div>
  </div>
</nav>
<p-menu #menu [popup]="true" [model]="items"></p-menu>


<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000">
    <!-- <h3>Select Charts</h3> -->
    <p-menu [model]="sidebarItems"></p-menu>
</p-sidebar>


<div *ngIf="viewSidebarButton" class="sidebar-button">
    <p-button type="button" (click)="visibleSidebar2 = true" >More Charts</p-button>
</div>

<div class="router-container">
  <router-outlet></router-outlet>
</div>

